!hacs.json
!README.md
!.gitignore

/.vscode
/.storage
/.HA_VERSION
/blueprints
/deps
/tts
/configuration.yaml
/customize.yaml
/home-assistant*

/custom_components/**
!/custom_components/**/
!/custom_components/matjak_helpers
!/custom_components/matjak_helpers/*
!/custom_components/matjak_helpers/**/*
/custom_components/matjak_helpers/**/__pycache__
/matjak_helpers/